{{#partial "title" }}
    Chat - Sign up
{{/partial}}

{{#partial "internale-stylesheet" }}
    <style>
        body {
            padding-top: 40px;
        }
    </style>
{{/partial}}

{{#partial "content" }}
    <div class="container">
        <div class="panel panel-default center-block loginPanel">
            <div class="panel-heading">
                <h1><i class="fa fa-comments"></i> Chat
                    <small>Sign up</small>
                </h1>
            </div>
            <div class="panel-body">
                <form action="/registerhandler" method="post">
                    <div class="form-group">
                        <label for="username" class="sr-only">Name</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Name"
                                   required autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password"
                                   required>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block">
                        Sign up
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script data-main="js/common" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js"></script>
{{/partial}}

{{> base.hbs}}